{{#each prod2}}
  <div>
   <p>{{this.title}}</p>
   <hr></hr>
   <p>{{this.description}}</p>
   <p>{{this.price}}</p>
   <p>{{this.thumbnail}}</p>
   <p>{{this.code}}</p>
   <p>{{this.stock}}</p>
   <p>{{this.status}}</p>
<p>{{this.status}}</p>
<p>{{this.id}}</p>
  </div>
{{/each}}
